@use 'font';
@use 'color';

@mixin reset-appearance() {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

@mixin custom-element() {
    padding: 1em;
    border-radius: 0.5em;
    font-family: font.$normal;
    font-size: 1rem;
}

@mixin textfield {
    color: color.$orange;
    background-color: white;
    border: 1px solid color.$orange;
    outline: 0;
}

@mixin button {
    @include custom-element();
    @include reset-appearance();

    opacity: 1;
    background-color: color.$blue;
    color: color.$lightgray;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 1em 0;
}

select {
    @include custom-element();
    @include reset-appearance();
    @include textfield();
    width: 100%;
}

button {
    @include button();
}

input {
    @include custom-element();

    &[type="text"] {
        @include reset-appearance();
        @include textfield();
    }

    &[type="button"],
    &[type="submit"] {
        @include button();
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: color.$orange;
    opacity: 1; /* Firefox */
}

.custom-range {
    width: 100%;
    position: relative;

    @mixin thumb($slider-size, $border-color) {
        $thumb-size: $slider-size * 4;

        width: $thumb-size; /* Set a specific slider handle width */
        height: $thumb-size; /* Slider handle height */
        background: white;
        border: 2px solid $border-color;
        border-radius: 50%;
    }

    @mixin track($slider-size, $color) {
        background-color: $color;
        height: $slider-size;
        border-radius: 1em;
    }

    @mixin range($bluerange) {
        $slider-size: 0.5em;
        $range-color: color.$orange;
        $range-color-rest: color.$gray;

        @if ($bluerange) {
            $slider-size: 0.4em;
            $range-color: color.$blue;
            $range-color-rest: white;
        }

        @include reset-appearance();

        width: 100%;
        height: $slider-size;
        padding: 0;
        background: $range-color;
        outline: none;
        transition: opacity 0.2s;
        opacity: 1;

        &::-webkit-slider-thumb {
            @include reset-appearance();
            @include thumb($slider-size, $range-color);
        }

        /* Firefox-Support only */
        &::-moz-range-thumb {
            @include thumb($slider-size, $range-color);
        }

        &::-moz-range-track {
            @include track($slider-size, $range-color-rest);
        }

        &::-moz-range-progress {
            @include track($slider-size, $range-color);
        }

        /* IE + Edge Support only - doesn't look very good :( */
        &::-ms-fill-lower {
            @include track($slider-size, $range-color);
        }

        &::-ms-fill-upper {
            @include track($slider-size, $range-color-rest);
        }
    }

    .range {
        @include range(false);
    }

    .bluerange {
        @include range(true);
    }
}

.custom-select {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        pointer-events: none; /* lässt Mausklicks "durch" */
        border: none;
        border-top: 5px solid color.$orange;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}

/* Box um den Slider */
.custom-switch {
    $height: 24px;
    $slider-margin: 3px;
    $slider-size: $height - (2 * $slider-margin);

    position: relative;
    width: ($height - $slider-margin) * 2;
    height: $height;

    input {
        display: none; /* eigentliche Checkbox verstecken */
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color.$gray;
        border-radius: $height;

        &:before {
            border-radius: 50%; /* Kreis */
            position: absolute;
            content: "";
            height: $slider-size;
            width: $slider-size;
            left: $slider-margin;
            bottom: $slider-margin;
            background-color: white;
            transition: 0.4s;
        }
    }

    input:checked + .slider {
        background-color: color.$orange;
    }

    input:checked + .slider:before {
        transform: translateX($slider-size);
    }
}
