@use 'color';

$special: BubblegumSans-Regular, sans-serif;
$heading: LilitaOne-Regular, sans-serif;
$normal: ABeeZee-Regular, sans-serif;

@font-face {
    font-family: "BubblegumSans-Regular";
    src: url("fonts/BubblegumSans-Regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
    font-family: "LilitaOne-Regular";
    src: url("fonts/LilitaOne-Regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
    font-family: "ABeeZee-Regular";
    src: url("fonts/ABeeZee-Regular.woff") format("woff"); /* Modern Browsers */
}

.medium {
    font-size: 1.2rem;
}

.big {
    font-size: 1.5rem;
}

.verybig {
    font-size: 2rem;
}

.blue {
    color: color.$blue;
}

.black {
    color: black;
}