@use 'color';
@use 'media';

$height: 5rem;

header {
    height: $height;
    padding: 0 4em;
    background-color: color.$orange;
    color: color.$blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{media.$mobile} {
        padding: 0 1em;
        flex-direction: row-reverse;
    }

    > a {
        line-height: 0; /* hat sonst einen Rand von 4 Pixeln unterm Logo */
    }

    #header-logo {
        height: 3em;
        margin: 1em 0;
    }

    nav {
        $margin-items: 1.2em;

        display: flex;
        align-items: center;

        @media #{media.$mobile} {
            display: block;
        }

        > ul {
            display: flex;
            align-items: center;

            > li {
                margin: 0 $margin-items;

                &:last-child {
                    margin: 0 0 0 $margin-items;
                    @media #{media.$mobile} {
                        margin: 1em;
                    }
                }
            }
        }

        ul {
            @media #{media.$mobile} {
                display: none;
                padding: 0;
                margin: 0;
                background-color: color.$orange;
                position: absolute;
                z-index: 1;
            }
            
            li {
                font-weight: bold;
                list-style-type: none;
                text-transform: uppercase;
                text-indent: initial;

                @media #{media.$mobile} {
                    margin: 1em;
                }
            }
        }

        a {
            color: color.$blue;
            text-decoration: none;

            @media #{media.$mobile} {
                color: white;
            }
        }

        .dropdown {
            position: relative;

            &:hover {
                .dropdown-content {
                    display: block;

                    @media #{media.$mobile} {
                        display: contents;
                    }
                }
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: color.$orange;
            padding: 0;
            z-index: 1;
            margin-left: $margin-items * -1;

            @media #{media.$mobile} {
                display: contents;
            }

            > li {
                margin: $margin-items;
            }
        }

        #toggle {
            display: none;

            /* <label> direkt nach #toggle (wenn checked), danach Punkt <ul> */
            &:checked + label + ul {
                @media #{media.$mobile} {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }

        .hamburger {
            display: none;

            @media #{media.$mobile} {
                display: inline-block;
                vertical-align: middle;
            }
            span {
                @media #{media.$mobile} {
                    display: block;
                    background-color: white;
                    width: 2rem;
                    height: 0.25rem;
                    margin-bottom: 0.5rem;
                }

                &:last-child {
                    @media #{media.$mobile} {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &.hideMobile {
        @media #{media.$mobile} {
            display: none;
            $height: 0;
        }
    }
}
