@use 'color';
@use 'media';

.home {
    justify-content: space-evenly;

    > * {
        max-width: 90vw;
    }

    #main-logo {
        max-height: 20vh;
    }

    #main-picture {
        max-height: 50vh;
    }

    #home-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        > button {
            width: 16em;
            margin: 1em;
        }
    }
}

.workout {
    #workout-select {
        /* als Flex-Item: */
        flex-grow: 1;
        /* als Flex-Container: */
        display: flex;

        flex-direction: column;
        justify-content: space-evenly;

        #random_toggle {
            /* als Flex-Container: */
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1em 0;
        }

        #duration-value-label {
            align-self: center;
            margin: 1em 0;
        }
    }

    #workout-start {
        /* als Flex-Item: */
        flex-grow: 1;
        align-self: stretch;
        /* als Flex-Container: */
        display: none; /* wird per JS dann auf "flex" geändert */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #progress_workout_label {
            margin: 1em 0 0 0;
        }

        #exercise {
            margin: 1rem 0;
            /* als Flex-Item: */
            flex: 1;
            align-self: stretch;
            /* als Flex-Container: */
            display: flex;
            flex-direction: row;

            @mixin set-box-shadow($size) {
                $double-size: $size * 2;
                $neg-size: $size * -1;
                box-shadow: $size $size $double-size darken(color.$gray, 6),
                    $neg-size $neg-size $double-size lighten(color.$gray, 6);
            }

            > * {
                @include set-box-shadow(12px);

                border-radius: 1rem;
                margin: 1rem;
                padding: 1rem;
                /* als Flex-Item: */
                flex: 1 0;
                /* als Flex-Container: */
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                @media #{media.$portrait} {
                    margin: 0;
                    flex: 1;
                    background-color: transparent;
                    box-shadow: none;
                }
            }

            @media #{media.$portrait} {
                @include set-box-shadow(8px);

                border-radius: 1rem;
                margin: 1rem;

                /* als Flex-Container: */
                flex-direction: column;
            }
        }

        #progress_workout {
            /* als Flex-Item: */
            align-self: stretch;
            /* als Flex-Container: */
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em 0;
        }

        #exercise_picture {
            min-height: 0;
            min-width: 0;
            max-height: calc(100vh - 480px);
            max-width: 100%;
        }

        .hidePortrait {
            @media #{media.$portrait} {
                display: none;
            }
        }
    }

    #workout-finish {
        display: none; /* wird per JS dann auf "flex" geändert */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.user {
    p {
        text-align: center;
    }

    table {
        display: grid;
        border-collapse: collapse;
        border: 1px solid color.$darkgray;
        margin: 1rem;

        img {
            min-width: 32px;
            max-width: 64px;
        }
    }

    td {
        padding: 0.5em;
    }

    @mixin set-background($even, $public) {
        @if $public == false {
            @if $even {
                background: white;
            } @else {
                background: #f8f8f8;
            }
        } @else {
            @if $even {
                background: lightyellow;
            } @else {
                background: lightgoldenrodyellow;
            }
        }
    }

    tr:nth-child(even) td {
        @include set-background(true, false);
    }

    tr:nth-child(odd) td {
        @include set-background(false, false);
    }

    tr.public:nth-child(even) td {
        @include set-background(true, true);
    }

    tr.public:nth-child(odd) td {
        @include set-background(false, true);
    }

    form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        img {
            align-self: center;
            max-width: 90vw;
            margin: 1em;
        }
    }

    #exercise-list {
        flex-grow: 1;
    }

    #file-upload {
        display: none;
    }

    .custom-file-upload {
        border-radius: 0.5em;
        background: color.$orange;
        color: black;
        font-weight: bold;
        padding: 1em;
        margin: 1em;
        align-self: center;
    }
}

.impressum {
    p {
        text-align: center;
    }

    a {
        color: color.$blue;
        font-weight: bold;
        text-decoration: none;
    }
}
