@use 'color';
@use 'font';
@use 'header';

@use 'pages';
@use 'custom';

@use 'media';

html,
body {
    height: 100%;
}

body {
    font-family: font.$normal;
    color: color.$darkgray;
    background-color: color.$lightgray;
    margin: 0;
    /* als Flex-Container */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;

    main {
        margin: 0 2em;
        /* als Flex-Item: */
        flex-grow: 1;
        /* als Flex-Container */
        display: flex;
        flex-direction: column;
        justify-content: center; /* vertikale Ausrichtung (oben oder unten?) */
        align-items: center; /* horizontale Ausrichtung (links oder rechts?) */
        /*align-content: stretch; !* Verhalten bei mehreren Objekten *!*/

        @media #{media.$mobile} {
            margin: 0 0.4em;
        }

        .no-scroll {
            height: calc(100% - #{header.$height});
        }
    }

    h1,
    h2 {
        font-family: font.$heading;
        font-weight: 400;
        color: black;
        text-align: center;
    }
}
